form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-input {
  width: 20%;
  /* height: 50px; */
  border-radius: 11px;
  font-size: 20px;
  padding: 0 10px;
  margin: 0px 15px;
}

.search-button {
  border-radius: 11px;
  /* margin: 0px 
  px; */
  padding: 5px 20px;
  background-color: #4caf50;
  font-weight: bold;
  color: white;
}
